 <!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {
	color: blue;
	font-family: verdana;
	font-size: 200%;
	}

p    {
	color: green;
	border: 1px solid powderblue;
	}

</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html> 